


body {
         background-color: #D1D1D1;);
}

ul {
    list-style-type: none;
    margin: 8;
    padding: 1;
}

li {
    display: inline;
    padding: 0 64 14 94;
}

h4.hidden{
    visibility: hidden;
}




h1.top{
	background-color: #FF9900;
    float:top;


}

h1,h2,h4,p{
    /*
    background-size: 20;
    text-align: center; 
    */
}

body{
/*  background-image: url('back.jpg');*/
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
}

h1 {
    float: right;
    margin-right: 529px;
    margin-top: 0px;
}

#paul{
    padding: 20 30 40 50;
}

#menu {
     background-color: #FF9999;
     border: 1px solid orange;
     font-size: 30;

}

#contact{
    width: 329px;
    height: 402px;
    margin-top: -378px;
    margin-left: 999px;
    margin-right: 400px;
    background-color: #F0F0B0;
    border: 1px solid #D0D0D0;
    padding:2px 2px 2px 2px;
    
}

#footer {
    background-color: green;
    
    margin-left: -8px;
    margin-right: -7px;
    padding: 2 25 25 50;
    margin: top;
    text-align: center;

}







	

